# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android
*.iml
.gradle
local.properties
*.apk
*.ap_
*.aab

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Environment variables & API Keys
.env
.env.local
.env.development
.env.production
src/config/env.ts

# React Native
.expo/
.expo-shared/

# Testing
coverage/
.nyc_output/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
*.log
.buckconfig.local
.bundle/

# FastLane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Ruby
vendor/
